# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite3-journal
__pycache__/
db.sqlite3
db.sqlite3-journal

# Django static/media files
/staticfiles/
/mediafiles/

# Local environment settings
.env

# Local virtual environment (Poetry .venv in project directory)
.venv/

# VS Code
.vscode/
.history/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Testing & Coverage
.tox/
.nox/
.coverage
htmlcov/
coverage.xml
.pytest_cache/
test_reports/

# mypy
.mypy_cache/
.dmypy.json

# Pycharm
.idea/

# other
celerybeat-schedule
media/
requirements.txt
.ruff_cache